<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button expand="block" (click)="trackCustomEvent()">Send Analytics Event</ion-button>
    <ion-button expand="block" (click)="testCrash()">Trigger Test Crash</ion-button>
  </div>
</ion-content>
